# Ignore everything
*

# Do not ignore directories (needed for the files inside to be considered)
!*/

# Do not ignore .c, .glsl, and .md files
!*.c
!*.glsl
!*.md
!*.h

!*/*.c
!*/*.glsl
!*/*.h
!*/*/*.c
!*/*/*.glsl
!*/*/*.h
!*/*.fs
!*/*.vs
!*/*/*.fs
!*/*/*.vs
# Do not ignore the .gitignore file itself
!.gitignore
